name: Run tests
on:
  push:
    branches: [master]
    pull_request:
      branches: [master]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      - name: Install and set Flutter version
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"

      - name: Restore packages
        working-directory: ./flutter_bloc_clean_architecture
        run: flutter pub get

      - name: Analyze
        working-directory: ./flutter_bloc_clean_architecture
        run: flutter analyze

      - name: Run tests
        working-directory: ./flutter_bloc_clean_architecture
        run: flutter test --no-pub --coverage --test-randomize-ordering-seed random

      - name: Upload coverage to codecov
        run: curl -s https://codecov.io/bash
        shell: bash
